//About-us /////////////////////////////////////////////////

.about-us {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about-us.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.about-us-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.about-us-paragraph-wrapper {
  color: $color-light;
  width: 900px;
  font-size: 40px;
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 30px;
  }
}

.seeyou {
  text-align: right;
}