//font colors

$color-main: #BEA67C;
$color-product: #000;
$color-light: #fff;

body {
  color: $color-main;
  font-size: 100px;
  margin: 0;
  height: 100vh;
  position: relative;
  background-image: url("../images/background.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; 
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}