// normalize default styles
@import "normalize";

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/grid";

// variables
@import "variables";

// common styles
@import "layout";
@import "global";
@import "typography";

//icons
@import "icons";

.title, .subtitle {
  color: $color-light;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 8px;
}

.subtitle {
  font-size: 15px;
  position: absolute;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu {
  margin: 0;
  li {
    display: inline;
    font-size: 15px;
    color: $color-light;
    text-transform: uppercase;
  }
}

header {
  background-image: url("../images/background.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
  width: 100%;
}

.page-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-name, .page-name-secondline {
  margin: 0;
}


